:root {
    --yellow : rgb(214, 214, 47);
    --background-yellow: rgb(175, 175, 43);
    --background-image: url('./free-cheese-seamless-vector.jpg');
}

body {
    padding: 0;
    margin: 0;
    /* background-size:cover;
    background-repeat: no-repeat; */

    /*color: rgb(236, 8, 8);*/
    color: var(--yellow);
    font-weight: 800;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.content {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-tabs {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--yellow);
}

.menu-tabs > div {
    margin: 10px;
    padding: 5px;
    width: 25px;
    border: 2px solid var(--yellow);
    border-radius: 12px;
    /* background-color: rgb(235, 235, 92); */
    font-size: 20px;
    /* font-weight: 800; */
    width: 100px;
    text-align: center;
}

.selected {
    background-image: var(--background-image);
}

.menu-tabs > div:hover {
    cursor: pointer;
    /* background-color: var(--background-yellow); */
    background-image: none;
    background-color: white;
}

#main {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 25px;
    text-align: center;
}

.card {
    /* background-color: rgb(214, 214, 47); */
    width: 70vw;
    height: fit-content;
    padding: 10px;
    border-radius: 12px;
    border: 2px solid var(--yellow);
    margin: 10px;
    background-image: var(--background-image);
}


footer {
    text-align: center;
    border-top: 2px solid var(--yellow);
}

footer > div {
    margin: 5px;

}